@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary: #F58F32;
  --light: #FFFEFE;
  --dark: #000000;
  --form-bg: #f5913233;

  --text-para: #263238;
  --footer-footer: #22292C;
  /* fonts style */
  --heading-font: "Work Sans", serif;
  --para-font: "Montserrat", serif;


  /* text-sizes */
  --text-xxs: 0.5rem;
  /* 8px */
  --text-xs: 0.75rem;
  /* 12px */
  --text-sm: 0.875rem;
  /* 14px */
  --text-md: 1rem;
  /* 16px */
  --text-lg: 1.125rem;
  /* 18px */
  --text-xlg: 1.25rem;
  /* 20px */
  --text-xxlg: 1.5rem;
  /* 26px */
  --text-2xl: 1.875rem;
  /* 32px */
  --text-3xl: 2.25rem;
  /* 38px */
  --text-4xl: 3rem;
  /* 48px */
  --text-5xl: 3.75rem;
  /* 60px */
  --text-6xl: 4.5rem;
  /* 72px */


}


button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a,
p,
span,
li {
  font-family: var(--para-font);
}


p {
  color: var(--text-para);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: var(--primary); */
  max-width: 1960px;
  min-width: 360px;
  margin: auto;
}


.text-white {
  color: var(--light);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.sub-heading {
  font-size: var(--text-3xl);
}

.sub-sub-heading {
  font-size: var(--text-2xl);

}

/* .mtb-20 {
  margin: 20px 0;
} */

.mb-20 {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}


.ptb {
  padding: 50px 0;
}




.underline {
  position: relative;
  display: inline-block;
}

.underline::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary);
}

.underline-black {
  position: relative;
  display: inline-block;
}

.underline-black::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--dark);
}



/* Overlay  */
.overlay {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
}

/* Overlay Visible State */
.overlay.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s;
}

/* Button Styling */
.open-popup-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

}

/* Popup form container */
.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 90%;
  max-width: 1960px;
  max-height: 90vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.popup-container.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

/* Close button */
.close-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  float: right;
  position: sticky;
  top: 0;
  right: 0;
}


@media (max-width:370px) {
  .popup-container {
    padding: 10px;
    width: 100%;
  }

}