:root {
  --form-bg: #F58F32;
  --primary: #F58F32;
}


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
}

.imp {
  /* color: red; */
}

.popup-form>.container {
  display: grid;
  grid-template-columns: 40% 60%;
}

/* form */


form {
  border-radius: 10px;
  padding: 20px;
  background-color: gainsboro;
}


.input-container {
  display: flex;
  flex-direction: column;
}


input {
  padding: 10px;
  border-radius: 30px;
  border: 1px solid transparent;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: var(--primary);
}


.Personal-Details,
.Company-Details {
  display: grid;
  gap: 20px;
  width: 90%;
  margin: auto;
}

.Personal-Details {
  grid-template-columns: repeat(2, 1fr);
}

.Company-Details {
  grid-template-columns: repeat(2, 2fr);
}

.Company-Details>div:nth-child(1),
.Company-Details>div:nth-child(2),
.Company-Details>div:nth-child(3),
.Company-Details>div:nth-child(4) {
  grid-column: span 2;
}



form>button {
  background-color: var(--primary);
  color: var(--light);
  padding: 10px;
  border-radius: 30px;
  border: none;
}