.footer-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 50px 10px;
  background-color: var(--primary);
}

.footer-logo>img {
  width: 100%;
}

.footer-links>h3 {
  margin-bottom: 10px;
}


.footer-links a {
  color: inherit;
  font-size: var(--text-sm);
}



.footer-footer {
  background-color: var(--footer-footer);
  font-size: var(--text-lg);
  color: var(--light);
  text-align: center;
  padding: 20px 0;
}

.social-link-wrapper>a>img {
  width: 35px;
  height: 35px;
}



@media (max-width:1280px) {}

@media (max-width:1024px) {}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo {
    width: 50%;
    margin: auto;
  }

}

@media (max-width:640px) {}

@media (max-width:375px) {}