.hero-section {
  margin: auto;
  background: var(--primary);
  padding-bottom: 50px;
}

.hero-section .container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
  place-content: center;
}

h1 {
  font-size: var(--text-4xl);
  line-height: 2.8rem;
}

.text-md {
  font-size: var(--text-md);
}

.text-lg {
  font-size: var(--text-xxlg);
}

.hero-section img {
  width: 100%;
}

span>strong {
  font-size: var(--text-2xl);
}

.hero-highlight-container>p {
  color: var(--dark);
}

.hero-highlight-container>p:nth-child(1) {
  margin-bottom: 10px;
}

.hero-highlight-container>p:nth-child(3) {
  margin-top: 10px;
}

.hero-highlight-container>p:nth-child(4),
.hero-highlight-container>p:nth-child(5) {
  margin-top: 20px;
}

.hero-highlight-container>button {
  width: fit-content;
  margin-top: 20px;
  color: var(--light);
  background-color: var(--dark);
  padding: 15px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--text-sm);
}

.hero-highlight-container button>img {
  width: 45px;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .hero-section>.container {
    grid-template-columns: 1fr;
    margin-bottom: 40px;
    min-height: 100%;
  }

  .hero-highlight-container {
    order: 2;
  }

  .hero-section>img {
    order: 1;
  }
}

/* Media query for extra small screens */
@media (max-width: 375px) {
  h1 {
    margin-bottom: 20px;
  }
}