/* banner-3 */

.banner-3 {
  background-color: var(--dark);
  text-align: center;
  padding: 90px 0;
}

.banner-3>.container>h3,
.banner-3>.container>button {
  color: var(--light);
}

.banner-3>.container>h3 {
  font-size: var(--text-3xl);
  margin-bottom: 20px;
}

.banner-3>.container>button {
  background-color: var(--primary);
  padding: 20px 30px;
  font-size: var(--text-xxlg);
  font-weight: bold;
  border-radius: 40px;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4);
  transition: text-shadow 0.3s ease-in-out;
  position: relative;
}

/* Increase glow on hover */
.banner-3>.container>button:hover {
  text-shadow: 0 0 15px rgba(255, 255, 255, 1),
    0 0 25px rgba(255, 255, 255, 0.9),
    0 0 35px rgba(255, 255, 255, 0.7);
}

.banner-3>.container>button>img {
  position: absolute;
  right: 0;
  bottom: -10px;
}



/*  */
/*  */
/*  */
/*  */
/*  */

@media (max-width:1280px) {}

@media (max-width:1024px) {}

/* Media query for small screen */
@media (max-width: 768px) {

  /* banner-3 */
  .banner-3>.container>h3 {
    font-size: var(--text-2xl);
  }

  .banner-3>.container>button {
    padding: 20px 30px;
    font-size: var(--text-xlg);
    border-radius: 40px;
  }
}

@media (max-width:640px) {

  .banner-3>.container>h3 {
    font-size: var(--text-xxlg);
  }

  .banner-3>.container>button {
    padding: 20px;
    font-size: var(--text-lg);
    border-radius: 40px;
  }
}

@media (max-width:375px) {

  /* banner-3 */
  .banner-3>.container>h3 {
    font-size: var(--text-xlg);
  }

  .banner-3>.container>button {
    padding: 15px;
    font-size: var(--text-sm);
    border-radius: 40px;
  }
}