.hero-section {
  margin: auto;
  background: var(--primary);
  padding: 50px 0;
}

.hero-section .container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
  place-content: center;
}

h1 {
  font-size: var(--text-4xl);
  line-height: 2.8rem;
}

.text-md {
  font-size: var(--text-md);
  line-height: 1rem;
}

.text-lg {
  font-size: var(--text-xxlg);
}


.hero-section img {
  width: 100%;
  max-width: 800px;
}

h1>strong {
  font-size: var(--text-2xl);
}


.hero-highlight-container>p {
  color: var(--dark);
  margin-top: 20px;
}

.hero-highlight-container>button {
  width: fit-content;
  margin-top: 20px;
  color: var(--light);
  background-color: var(--dark);
  padding: 15px 10px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  font-size: var(--text-sm);
}


.hero-highlight-container button>img {
  height: 10px;
}



/* Media query for small screen */
@media (max-width: 768px) {
  .hero-section>.container {
    grid-template-columns: 1fr;
    margin-bottom: 40px;
    min-height: 100%;
  }

  .hero-highlight-container {
    order: 2;
  }

  .hero-section>img {
    order: 1;
  }

}