/* Slide from top */
.slide-from-top {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(-100px);
}
.start-slide-from-top {
  opacity: 1;
  transform: translateY(0);
}

/* Delayed Slide from Top */
.delay-slide-from-top {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(-100px);
  transition-delay: 0.3s;
}
.start-delay-slide-from-top {
  opacity: 1;
  transform: translateY(0);
}

.delay-slide-from-top-1 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(-100px);
  transition-delay: 0.5s;
}
.start-delay-slide-from-top-1 {
  opacity: 1;
  transform: translateY(0);
}

.delay-slide-from-top-2 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(-100px);
  transition-delay: 0.9s;
}
.start-delay-slide-from-top-2 {
  opacity: 1;
  transform: translateY(0);
}

.delay-slide-from-top-3 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(-100px);
  transition-delay: 1s;
}
.start-delay-slide-from-top-3 {
  opacity: 1;
  transform: translateY(0);
}

/* Slide from down */
.slide-from-down {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(100px);
}
.start-slide-from-down {
  opacity: 1;
  transform: translateY(0);
}

/* Delayed Slide from Down */
.delay-slide-from-down {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(100px);
  transition-delay: 0.3s;
}
.start-delay-slide-from-down {
  opacity: 1;
  transform: translateY(0);
}

.delay-slide-from-down-1 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(100px);
  transition-delay: 0.6s;
}
.start-delay-slide-from-down-1 {
  opacity: 1;
  transform: translateY(0);
}

.delay-slide-from-down-2 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(100px);
  transition-delay: 0.9s;
}
.start-delay-slide-from-down-2 {
  opacity: 1;
  transform: translateY(0);
}

.delay-slide-from-down-3 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(100px);
  transition-delay: 1s;
}
.start-delay-slide-from-down-3 {
  opacity: 1;
  transform: translateY(0);
}

/* Slide from left */
.slide-from-left {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(-100px);
}
.start-slide-from-left {
  opacity: 1;
  transform: translateX(0);
}

/* Delayed Slide from Left */
.delay-slide-from-left {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(-100px);
  transition-delay: 0.3s;
}
.start-delay-slide-from-left {
  opacity: 1;
  transform: translateX(0);
}

.delay-slide-from-left-1 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(-100px);
  transition-delay: 0.6s;
}
.start-delay-slide-from-left-1 {
  opacity: 1;
  transform: translateX(0);
}

.delay-slide-from-left-2 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(-100px);
  transition-delay: 0.9s;
}
.start-delay-slide-from-left-2 {
  opacity: 1;
  transform: translateX(0);
}

.delay-slide-from-left-3 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(-100px);
  transition-delay: 1s;
}
.start-delay-slide-from-left-3 {
  opacity: 1;
  transform: translateX(0);
}

/* Slide from right */
.slide-from-right {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(100px);
}
.start-slide-from-right {
  opacity: 1;
  transform: translateX(0);
}

/* Delayed Slide from Right */
.delay-slide-from-right {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(100px);
  transition-delay: 0.3s;
}
.start-delay-slide-from-right {
  opacity: 1;
  transform: translateX(0);
}

.delay-slide-from-right-1 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(100px);
  transition-delay: 0.6s;
}
.start-delay-slide-from-right-1 {
  opacity: 1;
  transform: translateX(0);
}

.delay-slide-from-right-2 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(100px);
  transition-delay: 0.9s;
}
.start-delay-slide-from-right-2 {
  opacity: 1;
  transform: translateX(0);
}

.delay-slide-from-right-3 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(100px);
  transition-delay: 1s;
}
.start-delay-slide-from-right-3 {
  opacity: 1;
  transform: translateX(0);
}
