/* Slide from top */
.slide-from-top {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(-100px);
}


/* Delayed Slide from Top */
.delay-slide-from-top {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(-100px);
  transition-delay: 0.2s;
}


.delay-slide-from-top-1 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(-100px);
  transition-delay: 0.4s;
}



.delay-slide-from-top-2 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(-100px);
  transition-delay: 0.6s;
}



.delay-slide-from-top-3 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(-100px);
  transition-delay: 0.8s;
}



/* Slide from down */
.slide-from-down {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(100px);
}



/* Delayed Slide from Down */
.delay-slide-from-down {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(100px);
  transition-delay: 0.2s;
}



.delay-slide-from-down-1 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(100px);
  transition-delay: 0.4s;
}



.delay-slide-from-down-2 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(100px);
  transition-delay: 0.6s;
}



.delay-slide-from-down-3 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateY(100px);
  transition-delay: 0.8s;
}



/* Slide from left */
.slide-from-left {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(-100px);
}


/* Delayed Slide from Left */
.delay-slide-from-left {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(-100px);
  transition-delay: 0.2s;
}


.delay-slide-from-left-1 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(-100px);
  transition-delay: 0.4s;
}


.delay-slide-from-left-2 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(-100px);
  transition-delay: 0.6s;
}



.delay-slide-from-left-3 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(-100px);
  transition-delay: 0.8s;
}



/* Slide from right */
.slide-from-right {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(100px);
}



/* Delayed Slide from Right */
.delay-slide-from-right {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(100px);
  transition-delay: 0.2s;
}



.delay-slide-from-right-1 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(100px);
  transition-delay: 0.4s;
}

.delay-slide-from-right-2 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(100px);
  transition-delay: 0.6s;
}

.delay-slide-from-right-3 {
  opacity: 0;
  transition: transform 1s, opacity 1s;
  transform: translateX(100px);
  transition-delay: 0.8s;
}



/* Start classes remain the same */
.start-slide-from-top,
.start-slide-from-down,
.start-slide-from-left,
.start-slide-from-right,
.start-delay-slide-from-top,
.start-delay-slide-from-top-1,
.start-delay-slide-from-top-2,
.start-delay-slide-from-top-3,
.start-delay-slide-from-down,
.start-delay-slide-from-down-1,
.start-delay-slide-from-down-2,
.start-delay-slide-from-down-3,
.start-delay-slide-from-left,
.start-delay-slide-from-left-1,
.start-delay-slide-from-left-2,
.start-delay-slide-from-left-3,
.start-delay-slide-from-right,
.start-delay-slide-from-right-1,
.start-delay-slide-from-right-2,
.start-delay-slide-from-right-3 {
  opacity: 1;
  transform: translate(0);
}